services:
    mongodb:
        image: mongo:7.0
        container_name: mongodb
        restart: unless-stopped
        ports:
            - 27017:27017
        environment:
            - MONGO_INITDB_DATABASE=blog_mern
            - MONGO_INITDB_ROOT_USERNAME=admin
            - MONGO_INITDB_ROOT_PASSWORD=adminpassword
        volumes:
            - db_data:/data/db

volumes:
    db_data:
