* {
    font-family: "Libre Franklin", sans-serif;
    @apply transition-all duration-500;
}

body {
    font-family: "Libre Franklin", sans-serif;
}

body .container {
    max-width: 1200px;
    margin: 0 auto;
}

body h1,
body h2,
body h3 {
    font-family: "Zilla Slab", serif;
    @apply font-bold;
}

body h1 {
    @apply text-5xl;
}

body h2 {
    @apply text-3xl;
}

body h3 {
    @apply text-2xl;
}

body p {
    font-family: "Libre Franklin", sans-serif;
    @apply text-base;
}

footer li {
    font-family: "Zilla Slab", serif;
}