.btn-ac,
button.btn-ac {
    font-family: "Libre Franklin", sans-serif;
    @apply flex px-6 py-2 rounded-2xl font-bold w-fit;
}

.btn-ac-green,
button.btn-ac-green {
    @apply btn-ac bg-acnhGreen-500 text-acnhNeutre-100;
}

.btn-ac-green:hover,
button.btn-ac-green:hover {
    @apply bg-acnhOrange-500 text-acnhNeutre-600;
}

.btn-ac-orange,
button.btn-ac-orange {
    @apply btn-ac bg-acnhOrange-100 text-acnhNeutre-600;
}

.btn-ac-orange:hover,
button.btn-ac-orange:hover {
    @apply bg-acnhOrange-500 text-acnhNeutre-600;
}

.btn-ac-icon {
    @apply flex h-10 shrink-0 items-center justify-center gap-2 rounded-xl border-2 px-4 font-bold;
}